version: '3.8'
networks:
  internal:
services:
  messenger: 
    build: .
    ports: 
    - "0.0.0.0:8080:8080"
    depends_on:
      postgres:
        condition: service_healthy # ждет когда нормализуется база данных
      redis: 
        condition: service_healthy # ждет когда нормализуется redis
    environment:
      # DATABASE_URL: postgres://postgres:Roflan_2006@postgres:5432/data
      DATABASE_URL: postgres://${USER}:${PASSWORD}@${HOST}:${PORT}/data
      HOST: 0.0.0.0
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - internal
  cloudpub:
    image: cloudpub/cloudpub:latest
    container_name: cloudpub
    environment:
      - TOKEN=r__4lN1FmMTBoGP3-Y7jFBJw23Gat-71I7jKXvcAnfk
      - HTTP=0.0.0.0
      - CNAME=gen.cloudpub.ru
    ports:
      - "80:8080"
    command: run
    depends_on:
      - messenger
      - redis
      - postgres
    restart: unless-stopped
    volumes:
      - cloudpub-config:/home/cloudpub
  postgres:
      image: postgres:15 
      container_name: postgres
      environment:
        - POSTGRES_DB=data
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=Roflan_2006
      ports:
        - "0.0.0.0:5433:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data  
      healthcheck:  
        test: ["CMD-SHELL", "pg_isready -U postgres -d data"]
        interval: 5s
        timeout: 5s
        retries: 10
      networks:
        - internal
  redis:
      image: redis:latest
      container_name: redis
      environment:
        - REDIS_PASSWORD=""
        - REDIS_HOST=redis
        - REDIS_PORT=6379
      ports: 
        - "6379:6379"
      volumes:
        - redis_data:/data
      healthcheck:
        test: ["CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping || exit 1"]
        interval: 30s
        timeout: 10s
        retries: 5
      networks:
        - internal

volumes:
  cloudpub-config:
  postgres_data:
  redis_data: